

.bi-cart-check{
    color: white;
}

.bi-gem{
color:white;
}

.saludo1{
    margin-left: 45%;
    margin-top: 5%;
    margin-bottom: 50px;
}

.seccionContador{
    width: 260px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 10%;
    margin-top: 10%;
}

.botonesContador{
    border-radius: 50px 50px 50px 50px ;
    width: 30px;
    border-style: none;
    background-color: blueviolet;
    color: yellow;
}

.botonesContador:hover{
    background-color: aqua;
    transition: 2s;
}

.col{
    margin-bottom:50px;

}
.detailcard{
    width: 100%;
    margin-left: 24%;
    margin-top: 5%;
}

.agregado{
   
    padding-top: 10%;
   
}

div.App{
    background-color: #cdc1ff;
    background-image: linear-gradient(316deg, #cdc1ff 0%, #e5d9f2 74%);
   
}

.titulo{
    text-decoration: none;
    color: aliceblue;
    font-size: 25px;    
    padding-right: 25px;
}

.titulo:hover{
    color: pink;
  
}

.imagenes{
    transition: width, 3s;
    width: 100%;
    height: 100%;

}
.imagenes:hover{
    
  transform: scale(1.05);
    
}

.card-title{
    padding: 10px;
    display: inline;
    margin-left: -10px;
   
    
}
.card-title:hover{


 
    width: 150%;
    transition: 1.5s;
    color: rgb(146, 39, 146);
  
}

.card-text{
    margin-top: 20px;
   
}

.botonCarrito{
    width: 50%;
    border-style: none;
    background-color: blueviolet;
    border-radius: 15px 10px;
    color:white;
   margin-left: 30px;
}

.botonCarrito:hover{
    background-color: aqua;
    transition: 2s;
}

.card-footer{
    margin-bottom: 20px;
}

.categorias{
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 18px;
}

.categorias:hover{
    color: pink;
}

.card{
    justify-items:flex-end;
    margin-left: 50px;
    margin-right: 50px;
   
}

.bg-dark{
    background-color: #e056fd;
    background-image: linear-gradient(315deg, #e056fd 0%, #000000 74%);
}

div.flexbox{
    width: 110%;
    margin-top: 5%;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    
}



.desabilitado{
    width: 50%;
    border-style: none;
    border-radius: 15px 10px;
   margin-left: 30px;
}

.btn-warning{
    margin-left: 68%;
    margin-top: 5%;
}
 
